<%- include("partials/header.ejs") %>
<div class="body-specific">
<div class="left-half">
    <img  class="specific-image" src="<%= specificProduct.imgURL %>" alt="Image">
</div>

<div class="right-half">
    <h1> <%= specificProduct.name %> </h1>
<h3><%= specificProduct.price %></h3>
<a href="/cart/<%= specificProduct._id %>">
    <button type="submit">Add to cart</button>
</a>
</div>


</div>

<%- include("partials/footer.ejs") %>